{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
  </head>
  <body>
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas fugit
      labore, vero laboriosam enim, eligendi perferendis incidunt molestias
      dolorem consectetur sequi quidem officiis nisi? Voluptas illo aliquam
      quasi ex at!
    </p>
  </body>
</html>
