<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>THis is DJnago class 03</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, voluptates
      explicabo pariatur beatae, sint voluptatum reiciendis animi ad dignissimos
      quibusdam necessitatibus. Praesentium, assumenda eligendi quis eos
      blanditiis autem impedit veritatis.
    </p>
  </body>
</html>
